.k-panelbar > .k-item > .k-link {
  // color: #7a7a7a !important;
  // border: 0.5px solid #b9b9b9 !important;
  // border-color: #b9b9b9 !important;
  // height: 36pt;
  border-radius: 06pt 06pt 0pt 0pt;
}
.k-panelbar > .k-item {
  color: #7a7a7a !important;
}
// .k-panelbar > .k-item > .k-link.k-state-selected {
//   color: #7a7a7a !important;
//   background-color: #ffffff !important;
// }
.k-content {
  border: 0.5px solid #b9b9b9 !important;
  color: #656565 !important;
  background-color: #f1f3f5 !important;
  border-radius: 0pt 0pt 06pt 06pt;
}

.teamMate:after {
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.teamMate h2 {
  font-size: 1.3em;
  font-weight: normal;
  padding-top: 17px;
  margin: 0;
}
.teamMate p {
  margin: 0;
  font-size: 0.8em;
}
.teamMate img {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.mate-info {
  display: inline-block;
  vertical-align: top;
}
.panelbar-wrapper {
  //   max-width: 300px;
  margin: 0 auto;
}
// .k-panelbar > .k-item > .k-link:hover {
//   background-color: #ffffff !important;
// }

.custom-template {
  padding: 30px;
  text-align: center;
}
// .k-panelbar > .k-item.k-state-expanded > .k-link {
//   background-color: #ffffff !important;
// }
