// .patientInquiryGrid {
//   width: 100% !important;
//   height: 500px;
// }
.gridButtoStyle {
  background-color: #e0eaf6;
  border: 0.5px solid #9ebee1;
  border-radius: 4pt;
  height: 20pt;
  width: 20pt;
  //   margin: 4pt;
  color: blue;
}
